.home {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/src/images/Hero/HeroBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
 
  @media screen and (max-width: 768px) {
    background-position: top;
    width: 100%;
  }
  @media screen and (max-width: 365px) {
    background-position: top;
  }

  &__content {
    padding-top: 4rem;

    @media screen and (max-width: 992px) {
      padding-top: 3rem;
      text-align: center;
      justify-content: center;
    }
    @media screen and (max-width: 768px) {
      padding-top: 3rem;
      text-align: center;
      justify-content: center;
    }
  }

  &__title {
    font-size: 2rem;
    margin: 2rem 0;
    color: $body-color;

    @media screen and (max-width: 768px) {
      font-size: 1.8rem;
    }

    span {
      position: relative;
      display: inline-block;
    }

    span::before {
      position: absolute;
      bottom: 1px;
      left: 6px;
      right: 0;
      background-image: url(/src/images/Line/shape.png);
      background-repeat: no-repeat;
      width: 150px;
      height: 11px;
      content: "";
      // z-index: -1;
    }
  }

  &__subtitle {
    position: relative;
    font-size: $h3-font-size;
    font-weight: $font-normal;
    margin-bottom: $mb-2;
    color: $body-color;
  }

  &__social {
    display: flex;
    gap: 1rem;
    font-size: 2rem;
    margin-bottom: $mb-1-5;

    &-icons {
      color: $body-color;
    }

    @media screen and (max-width: 768px) {
      margin: $mb-1-5 auto;
      justify-content: center;
    }
  }
}
