@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"); /*variables scss*/
/*Colors*/
/*Font*/
/*Font weight*/
/*Margins*/
/*z index*/
/*Responsive*/
.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: hsl(224.81, 81.05%, 37.25%);
}

.scroll-header {
  background-color: hsl(224.81, 81.05%, 37.25%);
  border-bottom: 1px solid hsl(224.81, 81.05%, 37.25%);
}

.nav {
  height: 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
.nav__logo, .nav__toggle {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  font-size: 1.25rem;
}
.nav__logo-img {
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 1024px) {
  .nav__logo-img {
    width: 100px;
    height: 35px;
  }
}
.nav__list {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.nav__item {
  color: hsl(0, 0%, 100%);
}
.nav__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
  color: hsl(0, 0%, 100%);
  transition: 0.3s;
}
.nav__close, .nav__toggle {
  display: none;
}

/*Active link*/
.active-link,
.nav__link:hover {
  color: hsl(0, 0%, 100%);
  position: relative;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.55rem;
  width: 100%;
  height: 0.3rem;
  background-color: hsl(224.81, 81.05%, 37.25%);
}

@media screen and (max-width: 1000px) {
  .nav {
    height: 5rem;
  }
  .nav__menu {
    position: fixed;
    background-color: hsl(224.81, 81.05%, 37.25%);
    width: 50%;
    height: 100%;
    top: 0;
    left: -100%;
    padding: 4rem 0 0 3rem;
    z-index: 100;
    transition: 0.4s;
  }
  .nav__list {
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: flex-start;
  }
  .nav__link {
    color: hsl(0, 0%, 100%);
  }
  .nav__close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    display: block;
  }
  .nav__toggle {
    display: block;
    color: hsl(0, 0%, 100%);
  }
  .nav__logo-img {
    width: 60px;
    height: 60px;
  }
  /*show menu*/
  .show-menu {
    left: 0;
  }
}
@media screen and (max-width: 768px) {
  .nav {
    height: 5rem;
  }
  .nav__menu {
    position: fixed;
    background-color: hsl(224.81, 81.05%, 37.25%);
    width: 60%;
    height: 100%;
    top: 0;
    right: -100%;
    padding: 4rem 0 0 3rem;
    z-index: 100;
    transition: 0.4s;
  }
  .nav__list {
    flex-direction: column;
    row-gap: 1.5rem;
    align-items: flex-start;
  }
  .nav__link {
    color: hsl(0, 0%, 100%);
  }
  .nav__close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
    color: hsl(0, 0%, 100%);
    display: block;
  }
  .nav__toggle {
    display: block;
    color: hsl(0, 0%, 100%);
  }
  .nav__logo-img {
    width: 60px;
    height: 60px;
  }
  /*show menu*/
  .show-menu {
    right: 0;
  }
}
.home__bottom-img {
  bottom: 0;
  left: 0;
}
.home__bottom-img img {
  width: 100%;
  height: 170px;
}
@media screen and (max-width: 992px) {
  .home__bottom-img img {
    height: 100px;
    position: absolute;
    bottom: -0.5rem;
    left: 0;
  }
}
@media screen and (max-width: 768px) {
  .home__bottom-img img {
    height: 100px;
    position: absolute;
    bottom: -0.5rem;
    left: 0;
  }
}

.home {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/src/images/Hero/HeroBg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
@media screen and (max-width: 768px) {
  .home {
    background-size: cover;
    background-position: top;
  }
}
.home__content {
  padding-top: 12.5rem;
}
@media screen and (max-width: 992px) {
  .home__content {
    padding-top: 3rem;
    text-align: center;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .home__content {
    padding-top: 3rem;
    text-align: center;
    justify-content: center;
  }
}
.home__title {
  font-size: 4rem;
  margin: 2rem 0;
  color: hsl(0, 0%, 100%);
}
@media screen and (max-width: 768px) {
  .home__title {
    font-size: 1.8rem;
  }
}
.home__title span {
  color: hsl(224.81, 81.05%, 37.25%);
}
.home__subtitle {
  position: relative;
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 2rem;
  color: hsl(0, 0%, 100%);
}
.home__social {
  display: flex;
  gap: 1rem;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.home__social-icons {
  color: hsl(0, 0%, 100%);
}
@media screen and (max-width: 768px) {
  .home__social {
    margin: 1.5rem auto;
    justify-content: center;
  }
}

.plan__container {
  grid-template-columns: repeat(2, 600px);
  justify-content: center;
  gap: 3rem;
}
.plan__content {
  padding-left: 140px;
  margin-bottom: 60px;
  position: relative;
}
.plan__content::before {
  position: absolute;
  top: -15px;
  bottom: -15px;
  right: 0;
  left: 58px;
  content: "";
  border: 1px solid #e4e5ea;
  border-radius: 10px;
  transition: all 500ms ease;
  z-index: -1;
}
.plan__content:hover:before {
  background-color: hsl(224.81, 81.05%, 37.25%);
  border: 1px solid hsl(224.81, 81.05%, 37.25%);
}
.plan__content:hover .plan__title {
  color: hsl(0, 0%, 100%);
}
.plan__icons {
  font-size: 7rem;
  padding: 10px;
}
.plan__title {
  font-size: 1.25rem;
  margin-bottom: 2rem;
}
.plan__descritpion {
  margin-bottom: 1.5rem;
}

.plan__circle-two {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: #e4e5ea;
  box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.1);
  transition: all 500ms ease;
  top: 0;
  left: 0;
}

.plan__circle-two img {
  z-index: 1;
}

.plan__circle-two::before {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  content: "";
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
}

@media screen and (max-width: 992px) {
  .plan__container {
    grid-template-columns: repeat(2, 350px);
  }
}
@media screen and (max-width: 768px) {
  .plan__container {
    grid-template-columns: 1fr;
  }
}
/*Base*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

body {
  background-color: hsl(0, 0%, 100%);
  color: hsl(228, 2.99%, 67.25%);
}

h1,
h2,
h3 {
  color: hsl(224.81, 81.05%, 37.25%);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: 1px solid hsl(224.81, 81.05%, 37.25%);
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*css classes*/
.section {
  padding: 6rem 0 2rem;
}

.section__title {
  font-size: 2.5rem;
  color: hsl(224.81, 81.05%, 37.25%);
}

.section__subtitle {
  display: block;
  font-size: 1.25rem;
  margin: 1.5rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

/*Layout*/
.container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/*Buttons*/
.button {
  display: inline-block;
  background-color: hsl(224.81, 81.05%, 37.25%);
  color: hsl(0, 0%, 100%);
  padding: 1.25rem 3rem;
  font-weight: 500;
  margin-right: 1rem;
  text-align: center;
}

.button:hover {
  background-color: hsl(42.35, 100%, 50%);
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(42.35, 100%, 50%);
}

.button__icon {
  margin-left: 0.2rem;
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

@media screen and (max-width: 992px) {
  .container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .button {
    padding: 1rem 1.75rem;
  }
  .section {
    padding: 5rem 0 4rem;
  }
}
@media screen and (max-width: 768px) {
  body {
    margin: 0 0 4.5rem 0;
  }
  .section__subtitle {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 350px) {
  .container {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}/*# sourceMappingURL=App.css.map */